@font-face {
    font-family: 'Bebas';
    src: url('http://pool.qnapclub.pl/docinclude/fonts/bebasneue-webfont.eot');
    src: url('http://pool.qnapclub.pl/docinclude/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://pool.qnapclub.pl/docinclude/fonts/bebasneue-webfont.woff') format('woff'),
         url('http://pool.qnapclub.pl/docinclude/fonts/bebasneue-webfont.ttf') format('truetype'),
         url('http://pool.qnapclub.pl/docinclude/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
