@font-face {
	font-family: 'Manteka';
	src: url('http://pool.qnapclub.pl/docinclude/fonts/manteka.eot'),
	     url('http://pool.qnapclub.pl/docinclude/fonts/manteka.woff') format('woff'),
		 url('http://pool.qnapclub.pl/docinclude/fonts/manteka.ttf') format('truetype'),
		 url('http://pool.qnapclub.pl/docinclude/fonts/manteka.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

